{% form_theme form _self %}

{% block form_row %}
    <div class="form_row" style="margin: .25em 0">
        {{ form_errors(form) }}
        <div class="flex-row flex-wrap" style="align-items: center;">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% apply spaceless %}
        {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li style="color:red;">{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endapply %}
{% endblock form_errors %}

{% block show_hide_password_row %}
    <div class="form_row" style="margin: .25em 0">
        {{ form_errors(form) }}
        <div class="flex-row flex-wrap" style="align-items: center;">
            {{ form_label(form) }}
            <div class='showHiddenPassword-wrapper' >
                {{ form_widget(form) }}
                <i id='showHideToggle-{{ form.vars.id }}' class="fa-eye-slash showHiddenPassword-toggle"></i>
            </div>
        </div>
    </div>
{% endblock show_hide_password_row %}
