<div id='filter-pnl' class="flex-row pop-out-panel closed">
    <div id="filter-col1" class="flex-col">
        <div class="flex-row">
            <button id="fltr-pnl-hlp" class="tbl-bttn hlp-bttn">?</button>
            <span style="flex-grow: 1;"></span><b>
            <div id="focus-filter-hdr">Group Filters</div></b>
            <span style="flex-grow: 1.6;"></span>
        </div>
        <div id="focus-filters" class="flex-col flex-wrap gap-5"></div>
        <hr style='width:-webkit-fill-available'>
        <div id="default-filters" class="flex-col flex-wrap gap-5">
            <div id="top-default-filters" class="flex-row"></div>
            <div id="shw-chngd-ints" class="flex-row">
                <input type="checkbox" id="shw-chngd">
                <label for="shw-chngd" class="flex-row">Show interactions </label>
                <select id="sel-DateFilterType" class="date-fltr-sel" data-field="Date Filter" aria-label="Filter interaction by date type">
                    <option selected value="cited">published</option>
                    <option value="updated">added/edited</option>
                </select>
                <div>after: </div>
                <input type="text" id="filter-cal" disabled="disabled" class="field-input input-border" aria-label="Filter interactions to after date">
            </div>
        </div>
    </div>
    <div id="stored-filters" class="flex-col">
        <div class="flex-row">
            <button id="svd-fltr-hlp" class="tbl-bttn hlp-bttn">?</button>
            <span style="flex-grow: 1;"></span>
            <span><b>Saved Filter Sets</b></span>
            <span style="flex-grow: 1.6;"></span>
        </div>
        <div class="flex-row" style="width:max-content;">
            <div class="flex-col gap-5">
                <button id="apply-filter" class="tbl-bttn">Apply</button>
                <button id="save-filter" class="tbl-bttn">Save</button>
            </div>
            <span id="set-submit-msg" class="pnl-submit-msg">&#10004;</span>
            <select id="sel-FilterSet" class="saved-filters-sel"></select>
            <div class="flex-row filter-set-details field-cntnr">
                <span id="filter-set-name">Name: </span>
                <input type="text" class="field-input input-border" placeholder="Filter Name" style="height: 27px;">
            </div>
        </div>
        <div class="flex-row">
            <button id="delete-filter" class="tbl-bttn">
                Delete
            </button>
            <div id="set-confm-cntnr" class="flex-col">
                <button id="confm-set-delete" class="tbl-bttn">
                    Confirm
                </button>
                <button id="cncl-set-delete" class="tbl-bttn">
                    Cancel
                </button>
            </div>
            <span style="width: 24px !important;"></span>
            <div class="filter-set-details flex-row row-field">
                <span>Description: </span>
                <textarea class="field-input input-border" placeholder="Filter Description"></textarea>
            </div>
        </div>
    </div>
</div>