<div id='list-pnl' class="flex-row pop-out-panel closed">
    <div id="int-lists" class="flex-col flex-wrap">               <!-- Select list -->
        <div class="flex-row">
            <button id="svd-list-hlp" class="tbl-bttn hlp-bttn">?</button>
            <span style="flex-grow: 1;"></span>
            <span><b>Select List of Interaction Data</b></span>
            <span style="flex-grow: 1.3;"></span>
        </div>
        <div id='sel-list-cntnr' class="flex-col gap-5">
            <select id="sel-InteractionList" class="int-list-sel field-input"></select>
            <button id="load-list" class="tbl-bttn" disabled="true">
                Load Interaction List in Table
            </button>
        </div>
    </div>
    <div id="list-details" class='flex-col gap-5'>         <!-- List details -->
        <span>List Details</span>
        <div id="top-details" class="flex-row">
            <span>List Name: </span>
            <input type="text" placeholder="Display Name" class="field-input input-border">
        </div>
        <div class="flex-row">
            <span>Description: </span>
            <textarea class="field-input input-border" placeholder="Description"></textarea>
        </div>
        <div id="list-count" class="flex-row">
            <span>Interactions: </span>
            <span id="int-list-cnt">0</span>
        </div>
    </div>
    <div id="mod-list-pnl" class="flex-col">        <!-- Add to / remove from list -->
        <span><b>Modify List Data</b></span>
        <div id="list-select-records" class="flex-col">
            <div id="list-mod-mode">Add to List:</div>
            <!-- SELECTION RADIOS ADDED DYNAMICALLY -->
        </div>
        <div class="flex-row submit-cntnr">
            <button id="delete-list" class="tbl-bttn">
                Delete
            </button>
            <div id="list-confm-cntnr">
                <button id="confm-list-delete" class="tbl-bttn">
                    Confirm
                </button>
                <button id="cncl-list-delete" class="tbl-bttn">
                    Cancel
                </button>
            </div>
            <div class="flex-row">
                <span id="list-submit-msg" class="pnl-submit-msg">&#10004;</span>
                <button id="submit-list" class="tbl-bttn">
                    Save List
                </button>
            </div>
        </div>
    </div>
</div>