<img src="{{ email.image('@images/BatLogo_Horizontal_Color.jpg') }}" alt="Logo">

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a> <br>
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Welcome to BatBase.org!
</p>
