{% extends 'layout.html.twig' %}

{% block headline %}Welcome to BatBase.org!{% endblock %}

{% block headerstats %}
	000 Interactions | 000 Citations | 000 Locations in 00 Countries | 000 Bat Species | 000 Other Species | 00 Users | 00 Editors | Est. 2002
{% endblock %}

{% block detail %}
	<h2>Welcome {{ eifusername }}!</h2>
	<br>
	<h4>
		Your account is now activated.
	</h4>
	<br>
	<p>
		We look forward to your feedback and participation!
	</p>
{% endblock detail %}