<form method="POST" class="recaptcha-form">

    {{ form_start(form) }}

    <span style="color: red;"><b>{{ form_errors(form) }}</b></span>

    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.about_me) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <hr>
    <span class="loc-gps-note">
        The following data is optional. See the Privacy Policy in our Terms of Use below.
    </span>
    {{ form_row(form.country) }}
    {{ form_row(form.education) }}
    {{ form_row(form.interest) }}
    <hr>
    {{ form_widget(form.captcha) }}
    <div>
        <input id="reg-tos" class="top-em-mrg" type="button"
            value="Read and Agree to our Terms of Use to Submit" />
        <input id="reg-submit" type="submit" disabled value="Register" />

        {{ form_end(form) }}
    </div>
</form>
