{% extends 'layout.html.twig' %}

{% block headline %}Reset Password{% endblock %}

{% block detail %}
    <p>An email was just sent with a link that you can use to reset your password.</p>
    <br>
    <p>
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <br>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}
