<img src="{{ email.image('@images/BatLogo_Horizontal_Color.jpg') }}" alt="Logo">

<h4>Hello!</h4>

<p>To reset your password with batbase.org, please visit the following link</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Thank you!</p>
