{% extends 'layout.html.twig' %}

{% block headline %}Reset password{% endblock %}

{% block detail %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {{ form_start(requestForm, {attr: {id: 'top-form-container'}}) }}
        <div>
            Enter the email address associated with your account.<br>
            We will send you a link to reset your password.
            <br>
        </div>
        <br>
        {{ form_row(requestForm.email) }}
        {# {{ form_row(requestForm.email, {value: email}) }} #}
        <br>
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(requestForm) }}
{% endblock %}
