{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}The Project{% endblock %}

{% block headerstats %} 000 Users | 00 Editors | Est. 2002{% endblock %}

{% block detail %}
	<div id="about-pg" class="top-pgs">
		{% embed 'partial/two_cols_sect.html.twig' %}
			{% block firstcol %}
				<div id="about-pg-history" class="wysiwyg">
					{{ blocks["about-pg-history"]|raw }}
				</div>
				<div id="about-pg-future-dev" class="wysiwyg">
					{{ blocks["about-pg-future-dev"]|raw }}
				</div>
			{% endblock %}
			{% block secondcol %}
				<div  id="about-pg-announcements" class="wysiwyg">
					{{ blocks["about-pg-announcements"]|raw }}
				</div>
                <div class='flex-row' style="align-items:center;">
                    <a href="https://gitlab.com/bat-eco-interactions/BatBase/" target="_blank">
                        <img alt="GitLab logo" src="{{ asset('build/images/gitlab-logo-full.svg') }}"
                            width="100" height="35">
                    </a> Explore our MIT licensed source code on GitLab.
                </div>
				<br>
				<div  id="about-pg-contact" class="wysiwyg">
					{{ blocks["about-pg-contact"]|raw }}
				</div>
				<br>
					{% embed 'partial/two_cols_sect.html.twig' %}
						{% block firstcol %}
							<div id="about-pg-acknowledgements" class="wysiwyg">
								{{ blocks["about-pg-acknowledgements"]|raw }}
							</div>
						{% endblock %}
						{% block secondcol %}
							<div id="project-partners" class="wysiwyg">
								<h3>Partners</h3><br>
								<a href="https://www.globalbioticinteractions.org/">
								   <img alt="GLOBI logo" src="{{ asset('build/images/globi_long.svg') }}"
								        width="150" height="70">
								</a>
							</div>
						{% endblock %}
					{% endembed %}
			{% endblock %}
		{% endembed %}
		<span class="em-mrg"></span>
	</div>
	<hr>
	<div id="team" class="top-em-mrg flex-row flex-wrap">
		<div id="team-hdr"><h3>The Bat Eco-Interactions Team</h3></div>
		{% embed 'partial/two_cols_sect.html.twig' with {'classes': false} %}
			{% block firstcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-cullen.jpg') }}" alt="Cullen Image"></div>
				<div id="team-cullen" class="wysiwyg">
					{{ blocks["team-cullen"]|raw }}
				</div>
			{% endblock %}
			{% block secondcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-aja.jpg') }}" alt="Aja Image"></div>				<div id="team-aja" class="wysiwyg">
					{{ blocks["team-aja"]|raw }}
				</div>
			{% endblock %}
		{% endembed %}
		<br>
		{% embed 'partial/two_cols_sect.html.twig' with {'classes': false} %}
			{% block firstcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-taylor.jpg') }}" alt="Taylor Image"></div>
				<div id="team-taylor" class="wysiwyg">
					{{ blocks["team-taylor"]|raw }}
				</div>
			{% endblock %}
			{% block secondcol %}
				<div class="bio-img"><img src="{{ asset('build/images/team-sarah.jpg') }}" alt="Sarah Image"></div>
				<div id="team-sarah" class="wysiwyg">
					{{ blocks["team-sarah"]|raw }}
				</div>
			{% endblock %}
		{% endembed %}
		<br>
		<div id="extended-team">
			<div id="team-hdr"><h4>Editors</h4></div>
			<div class="flex-row flex-wrap">
				{% for editor in editors %}
					<div class="editor-info">
						Name: <b>{{ editor.fullName }}</b><br>
						Country: <b>{{ editor.country }}</b><br>
						Education: <b>{{ editor.education }}</b><br>
						Interest Area: <b>{{ editor.interest }}</b><br>
						Joined: <b>{{ editor.created|date("m/Y") }}</b><br>
					</div>
				{% endfor %}
			</div>
			<br>
			<div id="team-hdr"><h4>Special Thanks</h4></div>
			{% embed 'partial/two_cols_sect.html.twig' with {'classes': false} %}
				{% block firstcol %}
					<div class="bio-img"><img src="{{ asset('build/images/team-kelly.jpg') }}" alt="Kelly Image"></div>
					<div id="team-kelly" class="wysiwyg">
						{{ blocks["team-kelly"]|raw }}
					</div>
				{% endblock %}
				{% block secondcol %}
					<div class="bio-img"><img src="{{ asset('build/images/team-tuli.jpg') }}" alt="Tuli Image"></div>
					<div id="team-tuli" class="wysiwyg">
						{{ blocks["team-tuli"]|raw }}
					</div>
				{% endblock %}
			{% endembed %}
		</div>
	</div>
{% endblock detail %}
