{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}Bat Eco-Interactions Database{% endblock %}

{% block headerstats %}
	000 Interactions | 000 Citations | 000 Locations in 00 Countries | 000 Bat Species | 000 Other Species
{% endblock %}

{% block detail %}
	<div id="about-db" class="top-pgs">
	{% embed 'partial/two_cols_sect.html.twig' %}
		{% block firstcol %}
			<div id="about-db-data" class="wysiwyg">
				{{ blocks["about-db-data"]|raw }}
			</div>
			<div id="about-db-how-to-use" class="wysiwyg">
				{{ blocks["about-db-how-to-use"]|raw }}
			</div>
			<div id="how-to-cite" class="wysiwyg">
				{{ blocks["how-to-cite"]|raw }}
			</div>
			<div id="how-to-contribute" class="wysiwyg">
				{{ blocks["how-to-contribute"]|raw }}
			</div>

			<div id="new-data-entry" class="wysiwyg">
				{{ blocks["new-data-entry"]|raw }}
			</div>
		{% endblock %}
		{% block secondcol %}
			<div id="about-db-taxon-groups" class="wysiwyg">
				{{ blocks["about-db-taxon-groups"]|raw }}
			</div>
			<div id="about-db-caveats" class="wysiwyg">
				{{ blocks["about-db-caveats"]|raw }}
			</div>
		{% endblock %}
	{% endembed %}
	</div>
	<hr>
	<div class="db-about-imgs flex-row">
		<img id="about-db-maps" src="{{ asset('build/images/ConceptualDataMap.jpg') }}"
		alt="Conceptual Map of Data">
		<img id="db-new-data" class="about-db-maps" src="{{ asset('build/images/DataFlow.svg') }}" alt="Data Workflow">
	</div>
{% endblock detail %}


