{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}
	Welcome to Bat Eco-Interactions
{% endblock %}

{% block headerstats %}
	0000 Interactions | 000 Bat Species | 000 Citations | 000 Locations in 00 Countries
{% endblock %}

{% block detail %}
	<div id="home-pg" class="top-pgs">
	{% embed 'partial/two_cols_sect.html.twig' %}
		{% block firstcol %}
			{% if is_granted('ROLE_QA_EDITOR') or is_granted('ROLE_QA_ADMIN') %}
				<h2 style="color: #2D7853;">Welcome {{ eifusername }}</h2>
				<div class="wysiwyg" id="member-welcome">
					{{ blocks['qa-welcome']|raw }}
				</div>
			{% elseif eifrole == 'user' %}
				<h2 style="color: #2D7853;">Welcome {{ eifusername }}</h2>
				<div class="wysiwyg" id="member-welcome">
					{{ blocks['member-welcome']|raw }}
				</div>
			{% endif %}
			<div class="wysiwyg" id="home-pg-intro">
				{{ blocks['home-pg-intro']|raw }}
			</div>
		{% endblock firstcol %}
		{% block secondcol %}
			<div class="wysiwyg" id="home-pg-second-col">
				{{ blocks['home-pg-second-col']|raw }}
			</div>
		{% endblock secondcol %}
	{% endembed %}
	</div>
{% endblock detail %}
