/*
 * Explore table-state bar,
 *
 * TOC
 *     CONTAINER
 *     EXPAND|COLLAPSE ROWS
 *     TABLE STATUS
 *         INTERACTION COUNT
 *         VIEW FILTER
 *         FILTER STATUS
 *     SHOW|HIDE COLUMNS
 */
/* ======================= CONTAINER ======================================== */
#tool-bar
    margin: .7em auto .3em auto
/* ================= EXPAND|COLLAPSE ROWS =================================== */
button[name="xpand-1"], button[name="collapse-1"]
    font-weight: 600
/* ====================== TABLE STATUS ======================================= */
/* ------------ INTERACTION COUNT ---------------- */
#tbl-cnt
    font-size: 1rem
    color: #666
/* ------------ VIEW FILTER ---------------- */
#view-fltr
    font-size: 1rem
    color: #666
/* ------------ FILTER STATUS ---------------- */
#tbl-status
    flex-grow: 1
    gap: .2rem

#tbl-status div:first-child
    font-weight: 600
/* ==================== SHOW|HIDE COLUMNS =================================== */
button[name="show-hide-col"]
    opacity: .5
    cursor: not-allowed