/*
 * Data list managament panel styles.
 */
/* ---------------- Tab container in db-options panel ----------------------- */
#filter-opts
    // padding: .5em
    border-left: 1px black solid
    border-right: 1px black solid

#filter-opts.shw-col-borders
    background: rgba(121, 201, 183, .1)
/* ---------------- Filter Options Panel ------------------------------------ */
#filter-pnl
    max-height: 19em
    border-radius: .8em
    align-items: start

#filter-pnl.vert
    max-height: 34em
    border-left: none

// #filter-pnl.vert div.field-cntnr
//     width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
//     width: -moz-available;          /* WebKit-based browsers will ignore this. */
//     width: stretch

#filter-pnl.closed
    max-height: 0

// #filter-pnl div.field-cntnr
//     width: 18em
//     align-items: center;

// #filter-pnl.vert div.field-cntnr
//     width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
//     width: -moz-available;          /* WebKit-based browsers will ignore this. */
//     width: stretch

#focus-filters > *, #default-filters > *, #stored-filters > *
    // margin: .25em .3em

#specialFilterCntnr
    flex: 0 0 30%
    height: 2em
    order: 2
/* ----------- Table-Focus and Date Filters (First) Column ------------------ */
#filter-col1
    width: 48rem
    min-width: 40rem
    border-right: black 1px solid

#filter-col1.vert
    border-bottom: black 1px solid
    border-right: none
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch

#filter-col1.vert #focus-filters
    min-height: 6rem

#focus-filters .field-cntnr
    max-width: 26em
/* --- Time Updated Filter --- */
#shw-chngd-ints
    align-items: center
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch

#filter-col1.vert #shw-chngd-ints
    width: auto
    margin-bottom: 5px

#shw-chngd
    margin: .5em

.date-fltr-sel
    margin: 0 .5em .5em .5em
    width: 7em

#filter-cal, #filter-cal+.form-control.input
    padding: .3em
    margin-left: .5em
/* ----------------- Filter Sets (Second) Column ---------------------------- */
#stored-filters
    flex-grow: 1
    gap: 0

#stored-filters.vert
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch

#stored-filters button
    height: 1.7em
    width: 4em

.saved-filters-sel
    max-width: 11em
    min-width fit-content
    margin-left: 0 !important
    align-self: center

#set-confm-cntnr
    margin: .5rem 0