/*
 * Data list managament panel styles.
 */
/* ---------------- Tab container in db-options panel ----------------------- */
#list-opts
    border-right: 1px black solid
    border-left: 1px black solid

#list-opts.shw-col-borders
    background: #e2f2f3
/* ---------------- Data List Panel ----------------------------------------- */
#list-pnl
    max-height: 25em
    align-items: stretch
    background: #e2f2f3
    border-radius: 1em

#list-pnl.vert
    max-height: 444px
    width: 58em

#list-pnl.closed
    max-height: 0
\

#list-pnl.vert span
    align-self: center
    margin: 0 .25em
/* ------------- Select List (First) Column --------------------------------- */
#int-lists
    width: 22em

#int-lists.vert
    width: 100%

#sel-list-cntnr.vert
    justify-content: space-between
    margin-top:.5em

#load-list
    align-self: flex-end

#load-list.vert
    align-self: center
/* ------------- List Details (Second) Column ------------------------------- */
#list-details
    flex-grow: 1
    border-left: black 1px solid
    border-right: black 1px solid

#list-details.vert
    flex: initial
    border-left: none
    border-right: none
    border-top: black 1px solid
    border-bottom: black 1px solid

#list-details>span
    font-weight: 600
/* ------------- Modify List (Third) Column --------------------------------- */
#mod-list-pnl
    width: 30em
    gap: 0

#mod-list-pnl.vert
    width: 100%

#mod-mode
    margin: .4em 1em

#mod-list-pnl.vert #mod-mode
    margin: 8px 0 0 1em
/* -------------- On Submit Styles ------------- */
#set-submit-msg, #list-submit-msg
    opacity: 0

.pnl-submit-msg
    color: green
    margin: 0 .25em .25em .25em !important
    border: 1px green solid
    border-radius: 5px
    // padding: 5px
    // width: 1.5em
    // height: 1.5em

.submit-cntnr
    margin-top: auto
    width: 100%
    height: 1.4em

.submit-cntnr + div
    margin-right: auto
    flex-grow: 1

.submit-cntnr :last-child
    margin-left: auto

#set-confm-cntnr
    display: none
    width: min-content

#confm-set-delete
    margin-bottom: .5em

#list-confm-cntnr
    display: none
    height: 100%
