/*
 * Core styles for all explore options-panels.
 */
.pop-out-panel
    width: 100%
    background: #f2f9f8
    padding: 8px 4px 8px 4px
    border: black 1px solid
    transition: all .5s ease-in-out
    overflow-y: hidden

.pop-out-panel>div
    padding: .2em .5em

/* Column header spans */
.pop-out-panel>div>span:first-child
    font-weight: 600
    margin-bottom: .5em
    align-self: center

.pop-out-panel textarea
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch

.pop-out-panel.vert
    // width: 50%

.pop-out-panel.closed
    border-radius: 0
    padding: 0
    border: 0
    transition: all .5s ease-in-out
    overflow-y: hidden

.shw-col-borders
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    border-top: black 1px solid
    transition: all .5s ease-in-out

.panel-open-toggle
    box-shadow: inset 0px 4px 10px #C1C1CA

.adminbttn.panel-open-toggle
    box-shadow: inset 0px 4px 10px darkslateblue
/* ----------------- Lists & Filters Container ------------------------------ */
#fltr-int-pnl-cntnr
    width: 100%
    gap: unset
    align-items: flex-start

/* ================= TABLE ROW SELECT ======================================= */
div[id$="-radios"]
    justify-content: center
    align-items: center

button[id$="-unsel-rows"]
    margin-left: 2em

span[id$="-select-info"]
    margin: .5rem 0
    border: 1px solid black
    border-radius: 5px
    padding: .25em
    color: darkslategray
    text-align: center
    opacity: 0
    font-size: .85em

#list-pnl.vert #list-select-info
    min-height: 4rem