/*
 * Data review managament panel styles.
 */
/* ---------------- Tab container in db-options panel ----------------------- */
#data-opts
    border-right: none
    padding: 5px

#data-opts.shw-col-borders
    background: #3399ff33
    border-right: 1px black solid
/* ---------------- Data Review Panel --------------------------------------- */
#review-pnl
    max-height: 222px
    align-items: stretch
    background: #3399ff33
    border-radius: 10px

#review-pnl.vert
    max-height: 444px

#review-pnl.closed
    max-height: 0

#review-pnl>div
    padding: 5px

#review-pnl label.field-cntnr
    margin: .3em

[id^='rvw-hdr']
    font-weight: 600
    align-self: center

/* ------------- Select Review (First) Column ------------------------------- */
#rvw-pnl-col1
    flex: 0 0 28em

#rvw-pnl-col1 span
    margin-right: .3em

.rvw-sel
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch

#data-rvw-date-range>span
    margin-right: auto

.date-range-input
    flex: 1 1 13em
    margin: 0 .3em
/* ------------- Review Details (Second) Column ----------------------------- */
#rvw-pnl-col2
    flex: 1 0 16em
    border-left: black 1px solid
    border-right: black 1px solid
    margin-left: 1em

.rvw-cnt-cntnr
    font-weight: bold
    margin: .1em .5em

.rvw-cnt-cntnr > *
    margin: .22em .5em !important

.rvw-entity
    width: 5em
    font-weight: initial

.create_rvw-cnt
    color: green

.edit_rvw-cnt
    color: goldenrod

.delete_rvw-cnt
    color: A52A2A

/* ------------- Modification and Statistics (Third) Column ----------------- */
#rvw-pnl-col3
    flex: 1 0 412px

#rvw-pnl-col3-content
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: stretch
    padding: .5em
    width: max-content

#rvw-pnl-col3>div:first-child
    margin-bottom: 1em

#rvw-pnl-col3 label>span:first-child
    font-weight: 600
    margin-right: 1em

#rvw-cntrl-bttn
    font-weight: 600
    opacity: .3