/* ====================== SELECTORS FOR JS ================================== */
/** Multi-input field cntnr */
.cntnr
    gap: .5rem
/** Applied to elem inputs. Used to grab input within field elements. */
//.f-input
/* =========================== FORMS ======================================== */

/* CONTAINER FOR FORM-ROW */
.row
    display: flex  //default: row nowrap
    justify-content: space-evenly
    width: 100%
    gap: .5rem
/* CONTAINER FOR FIELDS WITH MULTIPLE/DYNAMIC INPUTS, VERTICALLY STACKED */
[id$="_f-cntnr"]
    display: flex
    flex-direction: column

[id$="_f-cntnr"]>div[id$="_f"]
    margin-bottom: .5em

/* CONTAINER FOR FIELD DIV>(alertDIV, fieldDIV) */
[id$="_f"]
    min-width: 0
    // padding: .25em .5em

/* FORM FIELD (fieldDIV>[LABEL, INPUT] ) */
// [id$="_f"] .form-field
//     justify-content: space-between

/* FIELD LABEL */
[id$="_lbl"]
    align-self: flex-start
    padding-top: .3rem
    min-width: fit-content
    width: fit-content
    color: #3a3b3c

/* FIELD INPUT */
.f-input
    min-width: 0
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch

/* FORM FOOTER */
[id$="_footer"]
    margin-top: 1em

/* =========================== FIELDS ======================================= */
/* CONTAINER FOR COMBOBOX AND FIELD GROUPS */
.field-cntnr, .field-elems           /* .flex-row also on elems */
    flex: 1 0 auto
    justify-content: space-between
    align-items: center
    gap: .2rem !important

/* CONTAINER FOR FIELD-ELEMS */
.field-elems
    // margin-top: .3em

.row-field
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch
/* ---------------------------- INPUT --------------------------------------- */
.w-half
    width: 50%

// .w-28
//     width: 28em !important

// .w-24
//     width: 24em !important

.mx-w-20
    max-width: 20em !important

// .w-20
//     width: 20em !important

.w-16
    width: 16em !important

.w-12
    width: 12em !important

.w-9
    width: 9em !important

.w-8
    width: 8em !important

.w-7
    width: 7em !important

.w-6
    width: 6em !important

.w-4
    width: 4em !important

.w-2
    width: 2em !important
/* ======================== ELEMENTS ======================================== */
.field-input
    margin: .1em .25em
    flex-grow: 1

.input-border
    border: 1px solid #d0d0d0;  //Copied from .selectize-input
    border-radius: 3px;  //Copied from .selectize-input
/* ------------------------- Selectize -------------------------------------- */
.selectize-input
    padding: 4px 33px 4px 4px !important
    z-index: 0 !important
.selectize-input, .selectize-control.single .selectize-input.input-active
    display: inline-flex

.selectize-dropdown
    z-index: 1111 !important
    margin-left 0 !important

div.option.selected[data-value='new']  //Hides 'Creating...' option
    display: none