/* --------- SIMPLE SPINING LOADER-ANIMATION ---------- */
.loading-spinner
    align-items: center
    padding: 1em

.spinner
  animation: rotate 2s linear infinite
  margin: .5em
  width: 2em
  height: 2em

  & .path
    stroke: black
    stroke-linecap: round
    animation: dash 1.5s ease-in-out infinite

@keyframes rotate
  100%
    transform: rotate(360deg)



@keyframes dash
  0%
    stroke-dasharray: 1, 150
    stroke-dashoffset: 0

  50%
    stroke-dasharray: 90, 150
    stroke-dashoffset: -35

  100%
    stroke-dasharray: 90, 150
    stroke-dashoffset: -124

