/* ===================== COLORS ============================================= */
/* greens-pallete */
$darkest-green = #1b3b1b
// --darker-g = #245A37
$dark-green = #2D7853
$med-green = #36976F
// --light-g = #3fb58b
// --lighter-g = #77cab8
$lightest-green = #d3f3e8
/* ===================== SIZE BREAKS ======================================== */
$phoneWidth = 748px
$tabletWidth = 1012px
$mqPhone = "only screen and (max-width: " + $phoneWidth + ")"
$mqTablet = "only screen and (max-width: " + $tabletWidth + ")"

/* ===================== CONTENT ============================================ */
$content-width
    @media screen and (min-width: 1500px)
        max-width: 1500px
        width 1500px
    @media screen and (max-width: 1500px)
        max-width: 100vw
