 <div id="rvw-pnl-col3" class="flex-col">
    <div class="flex-row">
        <button id="rvw-hlp-col3" class="tbl-bttn hlp-bttn">?</button>
        <span style="flex-grow: 1;"></span>
        <div id="rvw-hdr-col3">
            {% block colheader %}Modify Pending Records{% endblock %}
        </div>
        <span style="flex-grow: 1.6;"></span>
    </div>
    <div id="rvw-pnl-col3-content" class="flex-col">
        <div id="review-select-records" class="flex-col">
            <div id="rvw-mod-mode">Review Table Records:</div>
            <!-- SELECTION RADIOS ADDED DYNAMICALLY -->
        </div>
        <span style="flex-grow: 1;"></span>
        <div class="flex-row">
            <button id="rvw-cntrl-bttn" class="tbl-bttn">Start Review</button>
            <span style="flex-grow: 1;"></span>
        </div>
    </div>
</div>