<div id="rvw-pnl-col2" class='flex-col'>                      <!-- Reviewing records details -->
    <div class="flex-row">
        <button id="rvw-hlp-col2" class="tbl-bttn hlp-bttn">?</button>
        <span style="flex-grow: 1;"></span>
        <div id="rvw-hdr-col2">Pending Records</div>
        <span style="flex-grow: 1.6;"></span>
    </div>
    <div id="rvw-pnl-col2-content" class="flex-col"></div>
</div>