<div id="rvw-pnl-col1" class="flex-col">               <!-- Select records to review -->
    <div class="flex-row">
        <button id="rvw-hlp-col1" class="tbl-bttn hlp-bttn">?</button>
        <span style="flex-grow: 1;"></span>
        <div id="rvw-hdr-col1">Select Records To Review</div>
        <span style="flex-grow: 1.6;"></span>
    </div>
    <label class="flex-row field-cntnr">
        <span>Editor: </span>
        <select id="sel-rvw-contrib" class="rvw-sel" disabled="disabled">
            <option selected="selected" value="{{ eifusername }}">{{ eifusername }}</option>
        </select>
    </label>
        <label id="data-rvw-date-range" class="flex-row field-cntnr">
            <span>Dates: </span>
            <input type="text" id="rvw-date-start" class="date-range-input input-border">
            &nbsp;-&nbsp;
            <input type="text" id="rvw-date-end" class="date-range-input input-border">
        </label>
        <label class="flex-row field-cntnr">
            <span>Status: </span>
            <select id="sel-rvw-status" class="rvw-sel"></select>
        </label>
    <div class="flex-row">
        <span style="flex-grow: 1;"></span>
            {% block colbutton %}
                <button id="rvw-fltr-bttn" class="tbl-bttn" data-review="false">
                    Filter Records
                </button>
            {% endblock %}
    </div>
</div>