<div id='review-pnl' class="flex-row pop-out-panel closed">
    {{ include('ContentBlock/explore/panels/review/_review_col_1.html.twig') }}
    {{ include('ContentBlock/explore/panels/review/_review_col_2.html.twig') }}
    {% embed 'ContentBlock/explore/panels/review/_review_col_3.html.twig' %}
        {% block colheader %}Your Contributions{% endblock %}
    {% endembed %}
</div>