{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
    {% embed 'ContentBlock/explore/panels/review/admin-review-panel.html.twig' %} {% endembed %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% embed 'ContentBlock/explore/panels/review/editor-review-panel.html.twig' %} {% endembed %}
{% elseif is_granted('ROLE_CONTRIBUTOR') %}
    {% embed 'ContentBlock/explore/panels/review/contributor-review-panel.html.twig' %} {% endembed %}
{% endif %}