/*
 * Style sheet for the Explore page.
 * Note: Screens must have a pixel width of at least 1280 to view this page.
 *
 * Note: Fully refactoring from css -> stylus has not been prioritized. Moving
 * pieces over as they get worked on
 * * TODO: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE
 *
 * TOC
 * TODO:
 */
/* ====================== PAGE STYLES ====================================== */
@import 'data-entry/*'
@import 'panels/*'
@import 'table/*'
@import 'toolbars/*'
@import 'map'
@import "popups"

#content-detail
    font-size: 1rem !important

/*--- ROOT ELEM STYLES ---*/
#detail-block input, #detail-block textarea, #detail-block select
    padding: 4px

/* ======================= MISC STYLES ====================================== */
/** ------- INTRO.JS ------- */
.intro-tips  // Default styles
    max-width: 420px
    text-align: justify
    width: max-content

.introjs-tooltiptext
    line-height: 1.1rem
    font-size: 1rem

.modal-msg // intro.js modal message window
    min-width: 333px !important
    max-width: max-content

.intro-bttn // Buttons inside page walkthrough
    width: 99px
    height: 27px

.hlp-bttn // Question marks in panels triggering intro tutorial slides.
    height: 1.7rem !important
    width: 1rem !important
    font-weight: 600 !important
    margin-bottom: .2em

.introjs-helperNumberLayer
    line-height: 10px !important
    background: black !important
