// STYLES FOR EXPLORE-PAGE POPUPS
/* ------------ Bug Report -------------------- */
.bugs-popup
    width 33em !important
    background-color: #a2dadd !important;

.bug-prompt
    margin-bottom 1em

.bug-prompt:before
    padding-top .5em
    margin-right .25em

.bug-span
    font-weight 600

.bug-rprt-input
    width 100%
    min-width 100%
    max-width 100%
    margin-top .5em

textarea.bug-rprt-input
    height 75px

.rprt-status
    text-align center
    font-weight 600

/* ------------ Search Tips -------------------- */
#b-overlay-popup.tips-popup
    overflow-y: scroll
    max-height 80vh
    top 5%
    max-width 777px
