{% extends "layout.html.twig" %}

{% block headline %}Submit Publication{% endblock %}

{% block detail %}
    <div id="pub-sbmt-pg" class="top-pgs">
        {% embed 'partial/two_cols_sect.html.twig' %}
            {% block firstcol %}
                <h4> The Bat Eco-Interactions Database currently has over 11600 interactions
                    from over 540 citations, and we are adding more every day. You can contribute
                    to this effort by submitting publications to be entered into the database.
                </h4>
                <br>
                {% if error %}
                    <h4 style="color: red; font-weight: 600;">There was an error while uploading. If
                        this problem persists, please send us an email at info@batbase.org
                        or "Leave Feedback" on this page.
                    </h4>
                    {% if app.environment == 'dev' %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                {% elseif success %}
                    <p style="color: green; font-weight: 600;">Thank you for your submission!</p>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <div id="top-form-container">
                        {{ form_start(form) }}
                            {{ form_row(form.pdfFile) }}
                            {{ form_row(form.title) }}
                            {{ form_row(form.description) }}
                        {{ form_end(form) }}
                    </div>
                {% else %}
                    <p><a href="/register">Register</a> to gain access to this and many other features!</p>
                {% endif %}
            {% endblock firstcol %}
            {% block secondcol %}
                {% if is_full_view() %}
                    <h4>Publications currently being added to the database:</h4>
                    <br>
                    <object id='add-pubs' data="{{ asset('build/files/Publications To Add.pdf') }}">Publications to be added to the BatBase database.</object>
                {% endif %}
            {% endblock secondcol %}
        {% endembed %}
    </div>
{% endblock detail %}