{% extends "layout.html.twig" %}

{% block headline %}
	Editing {{ contentblock }}
{% endblock headline %}

{% block detail %}
	<div id="edit-content-block-page" class="top-pgs flex-col">
	    <a href="{{ path('admin_content_block_show', {slug: contentblock.slug}) }}">
	    	Return to {{ contentblock }}</a>
	    <a href="{{ path('admin_content_block') }}">View All Content Blocks</a>
    	<div id="top-form-container">
        	{{ form(form) }}
		</div>
	</div>
{% endblock detail %}

