{% extends "layout.html.twig" %}

{% set content_blocks = entities %}

{% block headline %}
    Content Blocks
{% endblock headline %}

{% block headerright %}
    <a href="{{ path('admin_content_block_new') }}" style="margin-left: auto;">New Content Block</a>
{% endblock headerright %}

{% block detail %}
	<ul>
        {% for contentblock in content_blocks %}
            <li class="top-em-mrg">
                <a href="{{ path('admin_content_block_show', {slug: contentblock.slug}) }}">{{ contentblock }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock detail %}
