{% extends "layout.html.twig" %}

{% set content_block = entity %}

{% block headline %}
	<h1>{{ content_block.name }}
		<a href="{{ path('admin_content_block_edit', {slug: entity.slug}) }}">
			<img src="{{ asset('build/images/eif.pencil.svg') }}"
					id="headline-icon"
					title="Edit Content Block"
					alt="Edit Content Block"
			>
		</a>
	</h1>

{% endblock headline %}

{% block detail %}
	<div class="em-mrg">
        <span class="lbl">Name:</span> <br>{{ content_block.name }}<br><br><br>
		<span class="lbl">Page:</span> <br>{{ content_block.page }}<br><br><br>
		<span class="lbl top-em-mrg">Content:</span> <br>{{ content_block.content|raw }}<br>
	</div>
{% endblock detail %}
