{% extends "layout.html.twig" %}

{% block headline %}Users Active In The Last 24 Hours (Current time: {{ "now"|date("H:i:s", 'America/Los_Angeles') }}){% endblock %}

{% block datatable %}online_users_tbl{% endblock datatable %}

{% block detail %}
    <table id="online_users_tbl" class="display">
        {# <caption>Online users</caption> #}
        <thead>
            <tr>
                <th>Last Activity At</th>
                <th>First Name</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in entities %}
                <tr>
	                <td>{{ user.lastActivityAt|date("d/m/Y H:i:s", 'America/Los_Angeles') }}</td>
	                <td>{{ user.firstname }}</td>
	                <td>{{ user.username }}</td>
	                <td>{{ user.email }}</td>
            	</tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock detail %}
