// WYSIWYG
// DATATABLES
// MISC
/*------------- WYSIWYG STYLES -----------------*/
.wysiwyg
    position: relative

.wysiwygEdit
    position: absolute
    top: 0
    right: 0
    height: 1.5rem
    z-index: 10
    cursor: pointer

#editContentBttn
    width: 7rem
    opacity: .6

.adminbttn
    background: #3399ff !important
    color: white !important
    border-radius: 5px !important
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3)

.adminbttn:hover
    background: #1A80E6
    box-shadow: 3px 3px 4px rgba(0,0,0,0.6)
    opacity: 1
/*------------- DATA TABLES STYLES -----------------*/
#tbl-ctrl-div  // data-tables button container
    position: absolute
    top: -1000px
    right: -1000px

#btn-div
    flex-wrap wrap
    justify-content center
    color: black

#btn-div > *
    margin-right 1rem

input[type="search"]
    border 1px solid grey
    height 1.7rem

.dt-bttn //data-tables
    line-height: 1.4 !important;
    padding: 2px 3px 1px 3px !important;
/* ------- STATIC PAGE FORMS --------------- */
#top-form-container>form>div
    align-items: start

#top-form-container>form input, #top-form-container>form textarea
    margin: unset

#top-form-container>form div div
    justify-content: space-between

#top-form-container>form div div input, #top-form-container>form div div textarea
    width 100%
/* ---------- ERROR PAGES ------------------- */
#error_content .three-col-outer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

#error_content .first-col, #error_content .third-col
    flex: 0 0 10px
#error_content .second-col
    flex: 0 1 99%
    text-align: center
    font-size: 2rem
    line-height: 2.2rem

#error_logo /* Logo used on error and 404 pages */
    width: 50%   /* RESPONSIVE */
    margin: 2% auto 0 auto
/* ---------- SPECIAL STATE STYLES ------------------- */
/* Menu link to enter & exit switch_user */
#user-impersonation
    margin-right: auto
    align-self: center
    font-size: 1.2rem