// BASE
// MOBILE OPT
// PDF
// TOS
/* -------------- BASE STYLES ------------ */
#b-overlay
    display: none
    flex-direction: column
    z-index: 1500
    justify-content: center
    align-items: center
    @media screen and (max-width: 750px)
        display: fixed

.overlay
    background: rgba(0,0,0,.4)
    bottom: 0
    height: 100vh
    position: fixed
    top: 0
    width: 100vw

.popup
    background-color: WhiteSmoke
    border-radius: 5px
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75)
    display: flex
    flex-direction: column
    // margin: auto
    overflow-y: auto
    padding: 1rem .5rem 1rem 1rem
    position: relative
    z-index: 1501
    //Below styles frequently overwritten
    height fit-content
    max-height 80vh
    max-width 90vw
    width fit-content

.popup-close-r
    align-self: flex-end
    margin-top .5rem
    font-weight: 600
/* --------- MOBILE OPT ------------- */
.mobile-opt-overlay
    position absolute
    height 100%
    width 100%
    background: rgba(0,0,0,.8)
    z-index: 111
    justify-content: center
/* --------- PDF Popup ------------- */
.pdf-popup
    width: 77rem
    height: 88vh
/* --------- TOS POPUP ------------- */
#terms-div>h3
    text-align: center

.lbl
    font-weight: 600
    margin-bottom: .5rem

.tos-popup
    overflow-y: scroll
    max-width 55rem
    gap: .1rem

.tos-popup p
    padding .25em 0 .25em 0