body
//   font-size 1em
  font 1.1rem sans-serif
  line-height: 1.3
  margin 0
  padding 0
  border 0
  width 100%
  min-width 100vw
  -webkit-margin-before 0em
  -webkit-margin-after 0em
  -webkit-margin-start 0px
  -webkit-margin-end 0px
  -webkit-padding-start 0px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
*, *:before, *:after
  box-sizing inherit
pre
  font 16px/1 sans-serif
  font-size inherit

html
  box-sizing border-box
  overflow-y scroll
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
h1,h2,h3,h4,h5,p,ul, pre
  margin 0
  padding 0
main,li
  display block
h1,h2,h3,h4,h5
  font-size inherit
strong
  font-weight bold
a,button
  transition .3s
button
  color inherit
  overflow visible
  border 0
  font inherit
  -webkit-font-smoothing inherit
  letter-spacing inherit
  background none
  cursor pointer
::-moz-focus-inner
  padding 0
  border 0
img
  max-width 100%
  height auto
  border 0
input[type="radio"], input[type="checkbox"]
    margin-right: 0