{% extends 'layout.html.twig' %}

{% block headline %}Log In{% endblock %}

{% block detail %}
    <p class="top-em-mrg">If you already have an account, enter your email and password below.</p>
    <p class="top-em-mrg">If not, <a href="register">click here to register and participate.</a></p>
    <br>
    {# <br> #}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <form id="login-form" method="post">
            {% if error %}
                <div class="top-em-mrg alert alert-danger" style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <section>
                <label for="_email">Email
                    <input id="_email" type="email" value="{{ last_username }}" name="_email" class="form-control" autocomplete="email" required autofocus>
                </label>
                <label for="current-password">Password</label>
                <div class="showHiddenPassword-wrapper">
                    <input id="current-password" type="password" name="_password" class="form-control" autocomplete="current-password" required>
                    <i class="fa-eye-slash showHiddenPassword-toggle"></i>
                </div>
                <div class="flex-row" style="justify-content:space-between;width: 100%">
                    <div class="checkbox mb-3">
                        <label for="_remember_me">Remember me
                            <input id="_remember_me" type="checkbox" name="_remember_me">
                        </label>
                    </div>
                    <a href="{{ path('app_forgot_password_request') }}">Forgot Password?</a>
                </div>
                <br>
            </section>
            <br>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary" id="_submit" name="_submit" type="submit"> Sign in </button>
        </form>
    {% endif %}
{% endblock detail %}