
/* ====================== SIDE PANEL ======================================== */
.stage-dec
    margin: .2em 0 .5em 1em
/* ------------------------MESSAGES ----------------------------------------- */
div[id$=_rvw-msg-cntnr] > *
    padding: .2em
    margin: .3em 0

.rvw-msgs
    border: 1px solid rgba(128,128,128,0.4);
    font-size: 1em;
    min-height: 6em;
    padding: 0.2em;
    margin: 0.5em 0.5em 0.5em 0;
    max-width: 90vw;
    overflow-y: auto
    width: 100%;

div[id$="_rvw-msg-hstry"]
    height: 9em
    margin-bottom: 0
    background: LightGrey

div[id$="_rvw-msg-hstry"] > *, div[id$="_rvw-log"] > *
    margin: .2em .2em .7em .2em


.Contributor_rvw-log
    color: DarkCyan

.Manager_rvw-log
    color: DodgerBlue

textarea[id$=_rvw-msg]
    min-height: 6em;
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch
    // min-width: -webkit-fill-available
    // max-width: -webkit-fill-available
    border-radius: .5em
/* -------------------------- POPUP ----------------------------------------- */
/* ============= DATA REVIEW =================== */
/* ====================== ROOT FORM ======================================== */
img[class$="rvw-notes-icon"]
    width: 1em;
    margin: 0 .5em

.rvw-notes
    margin: .25em .5em !important
    width: -webkit-fill-available
    max-height: 50px;
    min-height: 22px;
    height: fit-content;

.rvw-action-cmbx
    width: 7em
    align-self: center
    // margin-right: 0.5em

.rvw-action-cmbx.selectize-dropdown
    border-top: 1px solid #d0d0d0
    border-bottom: 0 none !important
    top: -139px !important
    bottom: 100% !important

.prev-value
    text-align: right
    margin: .25em 0
