// Core Form
//      Large
//      Medium
//      Small
//      Sub-forms
//      Fields
//      Row Containers
// Form Specific
/* TODO: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE */
/* ====================== ROOT FORM ======================================== */
/* -------------------------- POPUP ----------------------------------------- */
.form-popup
    display flex !important
    flex-direction: column
    font-size: 1rem
    height: 46rem
    justify-content: space-between
    overflow-y: scroll !important
    text-align: left
    top: unset !important

.form-popup>div.flex-row
    height: 95%
    align-items: flex-start

.form-popup form
    display flex !important
    flex-direction: column
/* --- Large (Interaction) Forms --- */
.form-popup.lrg-form
    height 88vh
    max-height: 50rem
    width: 88vw
    max-width: 93rem
    min-width: 1200px

// /* --- Medium Forms --- */
// .form-popup.med-form
//     height: 77vh
//     max-height: 40rem
//     width: 77rem
//     min-width: 1000px

/* --- SMALL FORM --- */
.form-popup.sml-form
    height: 46rem
    width: 55rem
/* ----------------------- HELP/EXIT ROW ------------------------------------ */
div[id$="-help"] input
    height: inherit !important
    font-size: .8em !important
    padding: .3em .5em !important
    margin: .2rem !important

.exit-row
    width: 100%
    justify-content: space-between
    display: flex

.exit-bttn
    width: 2em
    height: 2em
    font-weight: 600 !important
    font-size: .8em !important

.submit-bttns
    margin-left: auto
/* ------------------------ FORM CONTAINER ----------------------------------- */
#top-form
    height: 100%
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch

// #top-form.lrg-form
//     width: 66em
// /* --- Medium Forms --- */
// #top-form.med-form
//     width: 44em

/* --- SMALL FORM --- */
#top-form.sml-form
    width: 30em
/* -------------------------- HEADER ---------------------------------------- */
#top-hdr
    font-size: 1.3em
    // margin-bottom: 1em

.form-popup [id$="-hdr"]
    text-align: center

.form-popup div[id$="-hdr"]
    justify-content: space-between
    padding-bottom: .5em
/* ----------------------- STATUS/ALERTS ------------------------------------ */
#success
    margin-bottom: 15px
    font-weight: bold
    border: 2px solid
    padding: 10px
    display: none

#success>div
    justify-content: space-between

#success>div>p
    padding-top: 6px

/* ----------------------- ROOT-FORM SPECIFIC ------------------------------- */
// #top-form .selectize-control
    // width: -webkit-fill-available

#top-form textarea
    height: 63px

.f-util   //Field util-button
    margin: 0 1rem 0 0 !important

#top-form input, #top-form select, #top-form textarea
    padding: .2em
    margin: 0
    font-size: .95em


form[name="top"] p, form[name="top"] .bttn-cntnr
    width: 100%

/* ============================= SUB-FORMS ================================== */
$sub-form-styles
    border: 1px solid grey
    border-radius: 5px
    padding: 1em
    margin: .25em
    // overflow-x: hidden
    // overflow-y: unset

.med-sub-form, .sml-sub-form
    @extends $sub-form-styles

.sml-sub-form
    // min-width: 24rem //prev: max
    max-width: 98%
    // min-width: 0
/* --------- Fields -------- */
#sub-form .sub_lbl, #sub2-form .sub2_lbl
    font-size: 1em
    padding: 9px 0 2px 0

#exit-sub-form
    font-size: .75em !important

#sub-hdr, #sub2-hdr
    font-size: 1.1em

/* =========================== ROWS & FIELDS ================================ */
/* ------------------------------ ROWS -------------------------------------- */

div[id$="_fields"] //Contains all entity-form fields
    // min-width: 100%
    gap .5rem


.g-cntnr
    gap .5rem
/* ========================== FOOTER ======================================== */
.all-fields-cntnr
    gap: .1rem
    align-items: center
    color: #3a3b3c

input[id$="-all-fields"]
    margin-right: .25em !important

.bttn-cntnr
    width: 100%
    min-width: 0
    margin-top: auto
    align-self: flex-end
    padding-top: 1rem

    flex-wrap: wrap

.bttn-cntnr>input
    // padding: 3px !important
    // margin: 3px !important

input[id$="-submit"]
    font-weight: 600 !important

/* ============================= VALIDATION ================================= */
/** ------------ Error Styles -------------- */
[id$="_alert"]
    display: flex
    justify-content: center
    text-align: center
    width: 100%
    color: #7B1F1F

[id$="_alert"] span
    margin-top: .3em
    justify-content: center

/* Used to style the active-alert. ".alert-active" used to flag form invalid */
[class$="active-alert"]
    // padding: .3em
    // margin-bottom: .3em

[id$="_alert"]>p
    padding-top: .4em
    width: initial !important

#data_alert .exit-bttn
    width: 3em

.alert-exit
    color: #7B1F1F
    height: 1.75em
    width: 1.7em
    margin-left: 1em !important

.alert-bkgrnd
    background-color: #EED7CE

/* -------------- TO BE SORTED ------------------- */
.warn-msg
    padding-top: .5em
    font-weight: 600
    margin-right: 1em
.warn
    background-color: rgba(255, 255, 0, .3)

/* ======================= FORM SPECIFIC ==================================== */
#Quote_f, #Notes_f
    width: -webkit-fill-available
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch
/**--- Taxon Form ---*/
#Subject_fields, #Object_fields
    padding-left: 1em

#Group_f, #Group-Root_f
    margin-left: -1em

#taxonym-verification
    color: #3a3b3c
    padding: .2em .2em .2em 1em
    width: 100%
    opacity: .7

#taxonym-verification > p
    margin: .1 em

#api-verification > a
    float: right
    font-size: .8em
    opacity: .8

.active-verification
    border: 1px dashed grey
    padding: .5rem
/*------------- Loc Map Styles ----------------*/
#loc-note .map-link
    text-decoration: underline
    cursor: pointer

#form-map
    border: 1px grey solid
    height: 29em
    width: 100%
    margin: 1em auto 0 auto

.loc-gps-note
    width:initial
    text-align: center
    color: slategrey
    margin-top: 3px

.form-loc-popup
    font-size: 1.1em

/* ------------- Map Markers ------------- */
.single-marker
    width: 33px !important
    height: 33px !important
    margin-left: -12px
    margin-top: -15px
    border-radius: 25px
    border: 4px solid rgba(181, 226, 140, 0.7)
    text-align: center
    color: #222
    padding-top: 4px
    background-color: rgba(110, 204, 57, 0.9)
    font-size: 11px

.form-noGps
    width: 33px !important
    height: 33px !important
    margin-left: -12px
    margin-top: -15px
    border-radius: 25px
    border: 4px solid rgba(241, 211, 87, 0.7) /*yellow*/
    text-align: center
    color: #222
    padding-top: 4px
    background-color: rgba(240, 194, 12, 0.9)
    font-size: 11px

/* --- Geocoder Search Elem --- */
.leaflet-control-geocoder
    font-size: 16px

.leaflet-control-geocoder-icon
    margin: initial
    padding: initial
    font-size: initial






// #top-form.med-form .top-row
//     width 450px

// #top-form.med-form label
    // flex: 0 1 100px

/* --- Small Forms --- */

/* --- Sub-forms --- */
