/**
 *
 * TODO2: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE
 */
 /* ====================== DETAIL PANEL ====================================== */
#form-panel
    min-width: 20em
    max-width: 40em
    height: fit-content;  /* Mozilla-based browsers will ignore this. */
    // height: -moz-available;          /* WebKit-based browsers will ignore this. */
    margin: 0 .2em 0 .2em
    padding: 0 .5em .5em .5em
    overflow-y: auto
    width: fit-content
    color: #3a3b3c

#form-panel.rvw-panel
    min-width: 25em
//     overflow: inherit

#form-panel > *
    padding: .2em
    margin: .3em 0

#form-panel h3
    text-align: center
    font-size: 1.15em
    margin-bottom: .5em
    padding-top: 0em !important

#ent-id
    color: darkgrey
    text-align: right

#form-panel.interaction
    width: 29em
    min-width: 20rem
/* --------------------- INTERACTION DETAILS -------------------------------- */
.det-div div li
    padding: .2rem
    max-height: 20em
    overflow-y: auto
    // border-bottom: .2em solid darkgrey
    // margin-bottom: .2em
/* --------------------- GENERAL COUNT DETAILS ------------------------------ */
.cnt-div
    margin: .2em

.cnt-div div, .cnt-div span
    padding: .25em
    width: 2em
    text-align: right