/**
 * Styles for the user-feedback popup and view-page.
 *
 * TOC
 *     USER-SUBMIT
 *         FIELD VALIDATION-ALERT
 *         USER-FEEDBACK FIELDS
 *     VIEW-PAGE
 *         FIELDS
 */
@import '../util/vars'
 /* ============================ USER-SUBMIT ================================ */
#b-overlay-popup.feedback-popup
    background-color: $lightest-green
    max-width 48em
    max-height 50%
    min-height 25em
    top 0

    @media screen and (max-width 700px)
        top 5%

.feedback-popup h3
    margin-bottom: .5em
/* ----------------------- FIELD VALIDATION-ALERT --------------------------- */
.feedback-popup [id$="_alert"]
    color: grey
    justify-content: flex-end
/* ----------------------- USER-FEEDBACK FIELDS ----------------------------- */
#Topic_f input
    margin-bottom: .5em
    width: 100%
    line-height: 2em

.feedback-popup textarea
    width: 100%
    height: 10em
    padding: .4em

#feedback-popup>div div.field-elems
    justify-content: flex-start
/* ========================== VIEW PAGE ===================================== */
.open-feedback:before
    content: url(../../images/icons/edit.svg)
    float: left
    width: 1.5em

.open-feedback
    cursor: pointer
    height: fit-content
    padding: 0.4em
    width: fit-content

#feedback-context-frame
    position: absolute
    border: none
    width: 100%
    height: 100%

#feedback-popup
    background-color: $lightest-green
    box-shadow: .4em .4em .5em rgba(0,0,0,0.6)
    padding: 2em
    position: absolute
    top: 2em
    right: 5em
    z-index: 5001
    width: 36em
/* ----------------------------- FIELDS ------------------------------------- */
#feedback-popup span, #feedback-popup textarea
    padding: 0.2em 0.5em 0.2em .4em

#feedback-popup textarea
    display: block
    width: 100%
    height: 6em
    margin: 0 0 .5em 0

#fUser_f
    width: 70%