/* ==========================================================================
   Base styles for expandable content.

   TOC
      CONTAINER DIV
      TRIGGER EL
      CONTENT DIV

    ========================================================================= */
/* ============================ CONATINER DIV =============================== */
// .expandable
/* ============================ TRIGGER EL ================================== */
.toggle-trigger
    padding: .3em;
    background: DarkGrey

.toggle-trigger.closed
    background: unset

.toggle-trigger:before
    content: url(../images/icons/expand-alt.svg)
    float: left
    margin-right: .3em
    width: 1em

.toggle-trigger.closed:before
    content: url(../images/icons/compress-alt.svg)
/* =========================== CONTENT DIV ================================== */
/* ----------------------------- EXPANDED ----------------------------------- */
.expandable-content
    padding-left: 1.3em
    width: 100%
    background: LightGrey
    padding: 8px 4px 8px 4px
    border: LightGrey .5px solid
    transition: all .5s ease-in-out
    overflow-y: hidden
    max-height: 150em
/* ---------------------------- COLLAPSED ----------------------------------- */
.expandable-content.closed
    background: inherit
    padding: 0
    border: 0
    transition: all .5s ease-in-out
    overflow-y: hidden
    max-height: 0
