/* ==========================================================================
   ----------------------- MAIN STYLESHEET ----------------------------------
   ========================================================================== */
/* Functions, mixins, variables, etc. */
/* Popups, datatables/wysiwyg/wtc. */
@import 'base/*'
@import 'util/*'
@import 'util-relative-paths/*'
/* ----------- PAGE STRUCTURE -------------- */
#pg-container
    @extend $content-width
    position: relative
    margin: 0 auto

#page-body
    position: absolute
    top: 415px;
    width: 100%

#content-detail
    padding .5rem
    @media screen and (min-width: 1330px)
        margin-top 1rem
    @media screen and (max-width: 1330px)
        margin-top .5rem

#detail-block
    min-height 33vh

.first-col, .second-col
    max-width 100vw
    padding .5rem

.top-pgs
    align-items: flex-start !important

.top-pgs p
    margin 1rem
    // font-size 1.15rem
.top-pgs .flex-row
    align-items: unset

#footer
    @extend $content-width
    padding: 1rem 0 3rem 0
    border-top: 1px solid #000
    justify-content: space-between
    margin-top 1rem

// #footer p
    // font-size .8rem
    // margin .5rem

// #footer span
//     margin .5rem
/* Image slider, site header/nav */
@import 'base/header/*'
/* Explore page, entity pages, pdf, top-pages.  */
@import 'pages/pages'
