{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('entity') }}
{% endblock %}

{% block detail %}
    <div id='entity-show' class='{{ show }}-show'>Loading...</div>
{% endblock detail %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('entity') }}
{% endblock javascripts %}
