/**
 * Entty show page stylus code.
 *
 * TOC:
 *    CSV BUTTON
 *    DATA SECTION
 *      SECTON ROW
 *      ROW CELL
 *      SPECILIZED STYLES
 *    MEDIA
 */
@import '../util/vars'

#entity-show
    gap: 4rem
/* =========================== CSV BUTTON ================================= */
#entity-csv
    opacity: .4
    cursor: wait
    @media $mqTablet
        margin-left: 2rem

#entity-csv:before
    content: embedurl('../../images/icons/file-download.svg', 'utf8')
    width: .8rem
    float: left
    margin-right: .3em
    padding: .2rem 0

/* =========================== DATA SECTION ================================= */
.data-sect h3
    font-weight: 600

// #data-sect-2
//     gap: 2rem
/* -------------------------- SECTION ROW ----------------------------------- */
.sect-row
    gap: 2em
    align-items: flex-start

.sect-row > .group-row
    width: 100%
/* ----------------------------- ROW CELL ----------------------------------- */
.data-sect label
    font-weight: 600

.data-sect > div
    margin-left: .5em

.cell-data
    line-height: 1.4
    align-items: flex-start

.cell-data > *
    margin: .25em

.cell-data > div
    min-width: 122px

.max-content
    width: max-content
.r-mgn2
    margin-right: 2em
/* -------------------------- SPECIALIZED STYLES ---------------------------- */
/* -------------- INTERACTION PAGE ----------------- */
#Citation-cell
    max-width: 42vw

.interaction-show
    display: flex
    gap: 2rem
    flex-direction: column

.interaction-show > #data-sect-1 > #sect-row1
    justify-content: flex-start

.interaction-show > #data-sect-1 > #sect-row1 > div
    margin-right: 5em

/* -------------- TAXON PAGE ----------------- */
#entity-show.taxon-show
    // gap: 7rem
    @media $mqTablet
        gap: 2rem

.show-int-cnt
    padding: .2em .7em .4em 0

.taxon-show
    display: flex
    gap: 2rem
    flex-direction: row

.taxon-show #data-sect-2 #sect-row1
    justify-content: initial

/* =============================== MEDIA ==================================== */
/* NOTE: ONLY SINGLE LINE COMMENTS CAN BE INSIDE MEDIA QUERY */
@media $mqTablet
    .sect-row, .taxon-show   //------- FLEX -----
        flex-wrap: wrap

    .sect-row, .sect-row > div, .group-col > div, .taxon-show #data-sect-2 #sect-row1
        flex-direction: column

    .cell-data > *  // ------ MISC ------
        margin: .25em 0

    .cell-data > div[id$='-data']
        margin-left: 1em

    #Citation-cell   // ----- UNSET ----
        max-width: unset

    #InteractionDetails-data-sect #sect-row1 > div
        margin-right: unset

    .max-content
        width: unset

    .taxon-show #data-sect-2 #sect-row1
        justify-content: unset

    .interaction-show > #data-sect-1 > #sect-row1 > div, .taxon-show #data-sect-1
        margin-right: unset
