<div style="width:fit-content;">
    <div style="text-align:center">
        <img src="{{ email.image('@images/BatLogo_Horizontal_Color.jpg') }}" alt="BatBase Logo">
        <h3>Summary of Activity for the Week of {{ lastWeek }}</h3>
    </div>
    <br>
    <hr>
        {% if dataUpdates|length == 0 %}
            <h4>Data-Entry Activity - None</h4>
        {% else %}
            <table>
                <caption style="text-align:left"><h3>Data-Entry Activity</h3></caption>
                <thead style="text-align: left;">
                    <th style="width: 10em;"></th>
                    <th style="width: 5em;">Create</th>
                    <th style="width: 5em;">Edit</th>
                    <th style="width: 5em;">Review</th>
                </thead>
                <tbody>
                    {% for entity in dataUpdates %}
                        <tr>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.created }}</td>
                            <td>{{ entity.updated }}</td>
                            <td>{{ entity.reviewed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <br>
        {% endif %}
    <hr>
    {% if users|length == 0 %}
        <h4>New Users - None</h4>
    {% else %}
        <table>
            <caption style="text-align:left"><h3>New Users - {{ users|length }}</h3></caption>
            <thead style="text-align: left;">
                <th style="width: 10em;">Name</th>
                <th style="min-width: 20em; max-width: 800vw">About</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.about }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
    <hr>
    {% if pdfs|length == 0 %}
        <h4>Submitted Publications - None</h4>
    {% else %}
        <table>
            <caption style="text-align:left"><h3>Submitted Publications - {{ pdfs|length }}</h3></caption>
            <thead style="text-align: left;">
                <th style="min-width: 10em;max-width: 60em;">Title</th>
                <th style="min-width: 15em;max-width: 70em;">Description</th>
                <th style="min-width: 10em;max-width: 30em;">Submitted By</th>
                <th style="width: 20em;">Email</th>
            </thead>
            <tbody>
                {% for pdf in pdfs %}
                    <tr>
                        <td>{{ pdf.title }}</td>
                        <td>{{ pdf.description }}</td>
                        <td>{{ pdf.user }}</td>
                        <td>{{ pdf.userEmail }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>(Files are attached.)</p>
        <br>
    {% endif %}
    <hr>
    {% if feedback|length == 0 %}
        <h4>User Feedback - None</h4>
    {% else %}
        <table>
            <caption style="text-align:left"><h3>User Feedback - {{ feedback|length }}</h3></caption>
            <thead style="text-align: left;">
                <th style="width: 5em;">Page</th>
                <th style="width: 10em;">Topic</th>
                <th style="width: 15em;">Feedback</th>
                <th style="width: 10em;max-width: 30em;">Submitted By</th>
                <th style="width: 10em;">Email</th>
            </thead>
            <tbody>
                {% for fb in feedback %}
                    <tr>
                        <td>{{ fb.page }}</td>
                        <td>{{ fb.topic }}</td>
                        <td>{{ fb.feedback }}</td>
                        <td>{{ fb.user }}</td>
                        <td>{{ fb.userEmail }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
    <hr>
</div>
