{% extends 'base.html.twig' %}

{% block masthead %}
    <div id='header-image'>
        {% set mobile_class = is_mobile() ? 'mobile-hdr' : '' %}
        <div id="slider-overlay" class="{{ mobile_class }}"></div> {# Used when showing browser-optimization alert. #}
        <div id="slider-logo" class="{{ mobile_class }}"></div>
        {% set img1 = is_tablet() ? 'cactusbat_750w.jpg' : 'cactusbat.jpg' %}
        {% set img2 = is_tablet() ? 'twobats_750w.jpg' : 'twobats.jpg' %}
        {% set img3 = is_tablet() ? 'inflower_750w.jpg' : 'inflower.jpg' %}
        <div id="img-slider">
            <img class="slide" style="opacity: 1;" src="{{ asset('build/images/'~img1) }}" alt="Bat approaching catcus flower">
            <img class="slide" src="{{ asset('build/images/'~img2) }}"  alt="Bat approaching catcus flower" alt="Two bats flying around flower">
            <img class="slide" src="{{ asset('build/images/'~img3) }}"  alt="Bat covered in pollen inside flower">
        </div>
    </div>
{% endblock %}

{% block menu %}
    {% set menu_class = is_mobile() ? 'mobile' : '' %}
    <div id="sticky-hdr" class="{{ menu_class }}">
        {% set warning = is_granted('IS_IMPERSONATOR') ? 'row-red' : '' %}
        <div id="hdrmenu" class="{{ warning }}">
            <nav class="flex-row">
                <div id="mobile-menu-bar" class="flex-row">
                    <span class="toggle" style='width:"20em";'>☰ Menu</span>
                    {{ include('partial/site_name_and_repo.html.twig') }}
                </div>
                {{ knp_menu_render(menu) }}
                {% if not is_mobile() %}
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <a href="{{ impersonation_exit_path(path('app_search_show')) }}" id="user-impersonation">
                            Exit Impersonation
                        </a>
                    {% elseif (get_env('APP_SWITCH_EMAIL')) and (is_granted('ROLE_ALLOWED_TO_SWITCH'))  %}
                        {% set path = path('app_search_show') ~ '?_switch_user=' ~ get_env('APP_SWITCH_EMAIL') %}
                        <a href="{{ path }}" id="user-impersonation">
                            Impersonate Contributor
                        </a>
                    {% endif %}
                {% endif %}
            </nav>
            <div id='full-menu-site-details'>
                {{ include('partial/site_name_and_repo.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block pageheadline %}
    <div id="page-headline" class="flex-row">
        <div id="headline-left">
            {% block headline %}{% endblock %}
        </div>
        <div id="headline-right">
            <div id='headline-stats'>{% block headerstats %}{% endblock %}</div>
            {% block headerright %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block pagecontent %}
    <div id="{% block pageid %}content-detail{% endblock pageid %}">
        <div id="detail-block">{% block detail %}{% endblock %}</div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer" class="flex-row flex-wrap">
        <p>Site and Data Copyright 2020 <a href="http://www.batbase.org/">
            batbase.org</a> - Bat photos Copyright: Merlin D. Tuttle
            <a href="http://www.MerlinTuttle.org/">www.MerlinTuttle.org</a>
        </p>
        <br>
        <span>
            <a id="footer-tos" href="Javascript:void(0)">
                Terms of Use</a>
        </span>
    </footer>
{% endblock %}

{% block modal %}
    <div id="b-overlay" class="overlay" style="display:none">
        <div id="b-overlay-popup" class="popup"></div>
    </div>
{% endblock %}
