@import '../../util/vars'
/*-------------- IMAGE SLIDER -------------*/
$slider-height
    height: 375px
    @media $mqPhone
        height: 27vh

#slider-logo
    content url('../../../images/logos/batbase/logo_vert_pale_txt.svg')
    position: absolute
    top: 5rem
    left: 5%
    z-index: 11
    max-height 225px
    opacity: 0
    @media $mqTablet
        top: 0
        width: 22vw
        min-height: 11em
    @media screen and (max-width: 660px)
        position relative
        background-color Black
        height 27vh
        min-height: 11em
        padding: 22px
        width: 100vw
        left 0px

#slider-logo.overlay  //non-chrome browser warning msg
    position relative
    max-width 20vw
    top 0px
    @media screen and (max-width: 660px)
        max-width: 90vw
        top .5em
    @media screen and (min-width: 660px)
        max-width: 35vw
        top 1em

#slider-overlay
    @extends $slider-height
    position: absolute
    z-index: 10
    max-width: 30vw;
    @media screen and (max-width: 500px)
        max-width: 100vw;
        background-color black
    @media screen and (min-width: 700px) and (max-width: 1000px)
        max-width: 50vw;
    @media screen and (min-width: 1000px) and (max-width: 1330px)
        max-width: 40vw;

#slider-overlay.mobile-hdr
    max-width 100vw
    height max-content
    @media screen and (max-width: 660px)
        background-color black

#chrome-opt-msg /* Shown on all browsers except chrome */
    position: relative
    color: silver

#img-slider
    @extend $content-width
    @extends $slider-height
    max-width: 100vw;
    overflow hidden
    @media screen and (max-width: 660px)
        display: none

.slide
    @extends $slider-height
    position: absolute
    z-index: 0
    width: 100%
    transition: all 2s ease-in-out
    opacity: 0
    object-fit: cover