@import '../../util/vars'
/**--------------- Header Menu Styles -------------------*/
#sticky-hdr
    @extend $content-width

#sticky-hdr.mobile
    @media $mqTablet
        width: 100vw

.top-sticky
    z-index: 10000
    position: fixed !important //necessary when showing browser optimization message (non-chrome browsers)
    top: 0 !important  //... and on mobile devices
    background-color: White
    width: 100%
    padding-bottom: unset !important

#hdrmenu
    z-index: 10001
    display: flex
    justify-content: space-between
    background: White
    border-bottom: 1px solid Gray

#hdrmenu.vert
    height: fit-content
/* ------------- MENU --------------- */
$menu-font
    color: Black
    text-decoration: none
    font-weight: 700
    font-size: 1.3rem
    line-height: 1.6rem
    padding: .2rem 1rem .2rem .5rem
    @media screen and (max-width: 600px)
        font-size: 1.1rem

.content-overlay
    background: rgba(0,0,0,.7)
    height: fit-content
/* ---- Mobile Nav ---- */
#mobile-menu-bar
    display none
    justify-content space-between
    align-items: center
    width: 100vw
    z-index 1
    background-color WhiteSmoke

#mobile-menu-bar .toggle
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: -moz-available;          /* WebKit-based browsers will ignore this. */

.toggle
    @extends $menu-font

#oimenu
    display: flex
    flex-direction: row
    width fit-content
    gap: 0

#oimenu.vert.closed
    border-radius: 0
    padding: 0
    border: 0
    height: 0
    overflow-y: hidden

#oimenu.vert
    width: 100%
    background: WhiteSmoke
    max-height: fit-content
    overflow-y: hidden

#oimenu.vert .smtrigger.closed > ul
    max-height: 0;
    overflow-y: hidden

#oimenu.vert .smtrigger > ul
    max-height: fit-content;
    width 95vw

#oimenu.vert .smtrigger > ul li
    width 95vw

#oimenu.vert > li
    text-align: center
/* ---- Shared Nav ---- */
nav
    justify-content space-between
    z-index 1

#oimenu a
    @extends $menu-font
    display: block

.smtrigger
    position: relative
    padding-right: 1rem

.smtrigger > a:after
    content: " \25BC"
    font-size: 1rem
    display: block
    position: absolute
    bottom: .2rem
    right: .75rem
    @media screen and (max-width: 600px)
        right: 8rem

#oimenu li:hover
    background: LightGrey

#oimenu ul
    z-index: 1000
    position: absolute
    background: WhiteSmoke
    box-shadow: .9rem .9rem 2rem #888888

#oimenu ul li
    min-width: max-content
    z-index: 1001

#oimenu ul a
    padding: 10px 15px

#oimenu ul li.current-menu-item
    background: #ddd;

#oimenu .smtrigger > ul
    max-height: 0
    overflow-y hidden

#oimenu .smtrigger:hover > ul
    max-height: fit-content
    height fit-content //fixes Safari bug

.admin-menu
    background: $lightest-green

.super-admin-menu
    background: $med-green

#site-name, .site-name
    text-align: center
    font-size: 1.5rem
    color: DimGray
    line-height: 1.5rem
    @media screen and (max-width: 600px)
        font-size: 1.1rem
        line-height: 2rem

.site-name-and-repo
    margin-right .5rem
    display: flex
    align-items: center

.git-logo
    max-width: 1.3rem;
    padding-top: 0.4rem;
    margin-left: 0.5rem;

/* -- PAGE HEADER BAR -- */
#page-headline
    justify-content: space-between
    padding: .3rem
    font-size: 1.5rem
    z-index 0 //Otherwise, shows through img-slider on page load
    border-bottom: 1px solid Gray
    @media screen and (max-width: 600px)
        font-size: 1.3rem;
        flex-wrap: wrap;
        justify-content: center;

#headline-right
    font-size: 1rem

#headline-stats
    color: $darkest-green
    opacity: .6
    text-align: center; //for mobile

#headline-icon //Edit pencil on content block show page
    width: 1rem
    height: auto
    z-index: 0
    margin: 0 1rem 0 .5rem
    position: relative
    top: .1rem
