<div class="site-name-and-repo">
    <div class="site-name">batbase.org</div>
    <a href="https://gitlab.com/bat-eco-interactions/BatBase/" target="_blank">
        <img class="git-logo" alt="GitLab logo" title="MIT Source Code at GitLab.com"
            src="{{ asset('build/images/gitlab-logo-icon.svg') }}" width="23" height="23">
    </a>
</div>