{% set classes = classes ?? 'flex-col' %}


<div class="two-col-cntnr flex-row flex-wrap">
	<div class="first-col {{ classes }}">
		{% block firstcol %}{% endblock %}
	</div>
	<div class="second-col {{ classes }}">
		{% block secondcol %}{% endblock %}
	</div>
</div>
