{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('explore') }}
{% endblock %}

{% block headerstats %}
    000 Interactions | 000 Citations | 000 Locations in 00 Countries | 000 Bat Species | 000 Other Species
{% endblock %}

{# Javascript after detail block. #}

{% block headline %}
    Explore Interactions
{% endblock headline %}

{% block detail %}
    {% if is_full_view() or is_tablet() %}
        {% embed 'ContentBlock/explore/options-menu.html.twig' %} {% endembed %}
        <div id='fltr-int-pnl-cntnr' class="flex-col">
            {% embed 'ContentBlock/explore/panels/list-panel.html.twig' %} {% endembed %}
            {% embed 'ContentBlock/explore/panels/filter-panel.html.twig' %} {% endembed %}
        </div>
        {% embed 'ContentBlock/explore/panels/review/review-panel.html.twig' %} {% endembed %}
        {% embed 'ContentBlock/explore/table-tool-bar.html.twig' %} {% endembed %}
        <div id="explore-view">
            <div id="explore-table" class="ag-fresh"></div>
            <div id="map" style="display: none;"></div>
            <div id="explore-overlay"></div>
            <div id="explore-popup"></div>
        </div>
    {% endif %}
{% endblock detail %}

{% block javascripts %}
    {{ parent() }}
    {% if is_full_view() or is_tablet() %}
        {{ encore_entry_script_tags('explore') }}
    {% endif %}
{% endblock %}