<div id="db-opts" class="flex-row gap-5">
    <div id="help-opts" class="flex-row">
        <button id="strt-tut" class="map-disable" title="Start the Walkthrough Tutorial">
            Tutorial
        </button>
        <button id="show-tips" class="map-disable" title="Show Creative Search Tips Ideas">
            Tips
        </button>
    </div>
    <div id="list-opts" class="flex-row">
        <button id="lists" class="map-disable" name="int-set" title="Create and Manage Lists of Interactions">  <!-- Saved lists of interactions -->
            Lists
        </button>
        <button class="map-disable" name="clear-list" title="Clear Loaded Interaction List" disabled="disabled">
        </button>
    </div>
    <div id="focus-opts" class="flex-row tbl-tools">
        <span>Focus: </span>
        <select id="sel-Focus" class="focus-sel" data-field="Focus" aria-label="Focus on interactions by"></select>
        <span>View: </span>
        <select id="sel-View" class="view-sel" data-field="View" aria-label="View table-data by"></select>
    </div>
    <div id="filter-opts" class="flex-row tbl-tools">
        <button id="filter" title="Filter Options">
            Filters
        </button>
        <button name="reset-tbl" title="Clear All Filters">
        </button>
    </div>
    <div id="misc-opts" class="flex-row">
        <button id="shw-map" class="ico-bttn" title="Show Interactions in Table on Map">
            Map Interactions
        </button>
        <button class="map-disable" name="csv" title="Download CSV of Table Data">  <!-- DOwnload csv data -->
            CSV
        </button>
    </div>
    <div id="data-opts" class="flex-row">
        <button id="new-data" title="Create New Interaction Data">  <!-- Add tooltip "new interaction" -->
            New
        </button>
        <button id="rvw-data" title="Manage Submitted Data">
            Review
        </button>
        <button id="data-help" title="Experiencing issues?">
        </button>
    </div>
</div>