<div id="tool-bar" class="flex-row">
    <div id='xpand-tree' class='tbl-tools'>
        <button id="xpand-all" class="tbl-bttn" name="xpand-all" title="Toggle All Table Rows">
            Expand All
        </button>
        <button class="tbl-bttn" name="xpand-1" title="Expand Table by One Row">+</button>
        <button class="tbl-bttn" name="collapse-1" title="Collapse Table by One Row">-</button>
    </div>
    <div id="tbl-cnt">
        [ 0 Interactions ]
    </div>
    <div id="tbl-status" class="flex-row">
        <div>Filtering on:</div>
        <div id="view-fltr"></div>
        <div id="filter-status"></div>
    </div>
    <div class='tbl-tools'>
        <button class="tbl-bttn" name="show-hide-col"
            title="Future feature: customize the data shown in the table and/or csv export."
            disabled> Show/Hide Columns
        </button>
    </div>
</div>