{% extends "layout.html.twig" %}

{% block datatable %}feedback_tbl{% endblock datatable %}

{% block headline %}
    User Feedback
{% endblock headline %}

{% block detail %}
    <table id="feedback_tbl" class="display">
        <caption>BatBase User Feedback</caption>
        <thead>
            <tr>
                <th>OPEN</th>
                <th>Date</th>
                <th>Created By</th>
                <th>Page</th>
                <th>Topic</th>
                <th>Content</th>
                <th>Admin Notes</th>
                <th>Assigned User</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in entities %}
                {% set trans = {0: 'Closed', 1: 'Follow-up', 2: 'Read', 3: 'Unread'} %}
                {% set status = attribute(trans, feedback.status) %}
                {% if status != 'Closed' %}
                    {% set user = feedback.createdBy %}
                    {% set route = 'Home' %}
                    {% if feedback.route != '/' %}
                        {% set route_parts = feedback.route|split('/') %}
                        {% set route = route_parts|join(' ') %}
                    {% endif %}
                    <tr>
                        <td><button class="ico-bttn open-feedback" title="Open feedback" data-id="{{ feedback.id }}"
                            data-url="{{ app.request.getSchemeAndHttpHost() ~ app.request.baseUrl ~ feedback.route }}"></button></td>
                        <td>{{ feedback.created|date("F jS \\a\\t g:ia") }}</td>
                        <td><a href="mailto:{{ user.email }}?subject=website%20feedback">{{ user }}</a></td>
                        <td>{{ route|capitalize }}</td>
                        <td>{{ feedback.topic }}</td>
                        <td>{{ feedback.content }}</td>
                        <td>{{ feedback.adminNotes }}</td>
                        <td>{{ feedback.assignedUser }}</td>
                        <td>
                            {{ status }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('feedback-manage') }}
{% endblock javascripts %}